#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.title {
  border: 2px solid blue;
  background-color: #fdca40;
  h1 {
    pointer-events: visibleStroke;
  }

}

.article-container {
  border: 2px solid red;
  flex: 1;
}

.article-card {
  border: 2px solid green;
  padding: 1em;
  .article-card-img {
    width: 50%;
    height: 100%;
  }
}


.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr)

}

.nav-button {
  border: 0.5px solid white;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.vote-button {
  justify-content: space-between;
}
.highlighted-vote-button {
  background-color: #3772ff;
}

@media only screen and(min-width: 600px) {

}