#root {
  display: flex;
  flex-direction: column;
  width: 1rem;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #000814;
  color: #fdca40;
}

.title {
  background-color: #fdca40;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "header user-info"
    "user-avatar-title change-user";
  grid-row-gap: 0;
}
h1 {
  pointer-events: visibleStroke;
}
.user-avatar-title {
  padding-top: 10px;
  grid-area: user-info;
  height: 50px;
  width: 2px;
}

p:last-child {
  grid-area: change-user;
}

.header-user {
  padding-right: 10px;
}

.article-container {
  border: 2px solid red;
  flex: 1;
  justify-content: space-between;
}

.article-card {
  border: 2px solid green;
  padding: 1em;
  .article-card-img {
    width: 10rem;
    height: 10rem;
  }
}

.navbar {
  /* position: fixed; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav-button {
  border: 0.5px solid white;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.vote-button {
  justify-content: space-between;
}
.highlighted-vote-button {
  background-color: #3772ff;
}

.user-page {
  background-color: #003566;
}

.users-container {
  background-color: #003566;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.user-card {
  background-color: #003566;
  margin-left: 50px;
  margin-right: 50px;
  .usercard-username {
    color: #ffc300;
  }
  .user-avatar-usercard {
    height: 100px;
    width: 100px;
  }
}

.user-avatar-usercard {
  width: 10em;
  height: 10em;
}

.user-avatar-title {
  width: 3em;
}

.dropdown-menu {
  position: relative;
}

@media only screen and(min-width: 600px) {
}
